* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        135deg,
        #6a11cb 0%,
        #2575fc 35%,
        #00c6ff 70%,
        #00f2fe 100%
    );
    padding: 30px;
}

.container {
    width: 100%;
    max-width: 500px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 25px;
    padding: 35px;
    box-shadow: 0 15px 35px rgba(0,0,0,.3);
}

.container h2 {
    text-align: center;
    color: white;
    margin-bottom: 25px;
    font-size: 30px;
    letter-spacing: 1px;
}

label {
    display: block;
    color: white;
    margin-top: 15px;
    margin-bottom: 6px;
    font-weight: 600;
}

input,
select {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 12px;
    outline: none;
    font-size: 15px;
    background: rgba(255,255,255,.9);
    transition: .3s;
}

input:focus,
select:focus {
    transform: scale(1.03);
    box-shadow: 0 0 12px #00ffe5;
}

input[type="color"] {
    height: 55px;
    padding: 4px;
}

input[type="file"] {
    background: rgba(255,255,255,.9);
    padding: 12px;
}

.radio-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 6px;
    color: white;
    font-weight: 500;
}

input[type="radio"],
input[type="checkbox"] {
    width: auto;
    transform: scale(1.2);
}

button {
    width: 100%;
    margin-top: 30px;
    padding: 15px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg,#ff512f,#dd2476);
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(255,81,47,.5);
}

button:active {
    transform: scale(.98);
}

#message {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #7CFFB2;
}

::placeholder {
    color: #666;
}

@media (max-width:600px) {

    .container {
        padding: 25px;
    }

    .container h2 {
        font-size: 24px;
    }

    .radio-group {
        flex-direction: column;
        gap: 10px;
    }
}
